body {
    display: grid;
    justify-content: center;
    align-content: center;
}

.container {
    display: inline-grid;
    border: 1px solid #fff;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    background-color: rgba(100, 99, 99, 0.9);
}

.container > div {
    text-align: center;
    padding: 2vw;
    background-color: rgba(100, 99, 99, 0.9);
    font-size: 2rem;
}